<!-- Страница, чтоб пользователь ввел свой e-mail , чтоб пришел на него код -->
<!-- reset_form -> reset_done -> reset_confirm -> reset_coplete -->
{% extends "base.html" %}

{% block content %}
<h1>Востановление Пароля</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{f.non_field_errors}}</div>
    {% for f in form %}
    <p><label for="{{f.id_for_label}}">{{f.label}}</label>{{f}}</p>
    <div class="form-error">{{f.errors}}</div>
    {% endfor %}
    <button type="submit">Сбросить по E-mail</button>
</form>
{% endblock %}