{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<!-- метод работа с сервероп GET или POST -->
<form action="" method="post">
    <!-- при методе POST нужно приписывать csrf_token для защити от атак на сайт -->
    {% csrf_token %}

    <!-- form.non_field_errors содержит ошибки которые не связанные ни с одним полев ввода в форме -->
    <div class="form-error">{{ form.non_field_errors }}</div>
    {%for f in form %}

    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{f}}</p>

    <!-- form.title.error поле содержит ошибки для выбраной строки в текущей форме -->
    <div class="form-error">{{f.errors}}</div>

    {% endfor %}

    <p><button type="submit">Отправить</button></p>


</form>

{% endblock %}