{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<!-- метод работа с сервероп GET или POST -->
<form action="" method="post">
    <!-- при методе POST нужно приписывать csrf_token для защити от атак на сайт -->
    {% csrf_token %}


    <!-- label - подсказка в виде тексат для поля input , for указывает id подсказки -->
    <!-- name указывае параметр куда буде вставляться значения от пользователся при отправке на сервер  -->
    <!-- все данные будет содержать переменая request в views.py -->
    <!-- <p><label for="id_1">Текст: </label> <input type="text" id="id_1" name="field_text"></p>
    <p><label for="id_2">Отметка: </label> <input type="checkbox" id="id_2" name="field_checkbox"></p>
    <p><label for="id_3">Число:</label> <input type="number" id="id_3" name="field_number"></p>
    <p><label for="id_4">Пароль: </label> <input type="password" id="id_4" name="field_password"></p> -->



    <!-- используем пользовательский класс для создания форм из forms.py -->
    <!-- as_p означает что кадое поле будет выводить в абзаце <p> -->
    {{form.as_p}}
    <p><button type="submit">Отправить</button></p>

</form>

{% endblock %}