{%extends "base.html" %}

{%block content%}
<h1>{{title}}</h1>
<!-- включаем файл который лежит в указаной диретории, слово only запрещает передачу переменных из views етого файла в включаемый файл -->
<!-- слово with можна перекадваю переменные с указаными значениями -->
{% include "women/includes/nav.html" only with title2="111" %}
<ul>
    {% for p in posts%}
    {% if p.is_published%}
    <li>
        <h2>{{p.title}}</h2>
        <p>{{p.content}}</p>
        <p><a href="{% url 'post' p.id %}">Читать Пост</a></p>
        {%if not forloop.last%}
        <hr>
        {% endif %}

    </li>
    {% endif %}
    {% endfor %}
</ul>

{% include "women/includes/nav.html"%}

{%endblock%}

</html>